// Typography
@mixin font-h1 {
  @include theme() { color: theme-get('font-color-primary'); }
  font-size: $h1-font-size;
  line-height: $headings-line-height;
  letter-spacing: $headings-letter-spacing;
  font-weight: $headings-font-weight;
  text-transform: uppercase;
}

@mixin font-h2 {
  @include theme() { color: theme-get('font-color-primary'); }
  font-size: $h2-font-size;
  line-height: $headings-line-height;
  letter-spacing: $headings-letter-spacing;
  font-weight: $headings-font-weight;
}

@mixin font-h3 {
  @include theme() { color: theme-get('font-color-primary'); }
  font-size: $h3-font-size;
  line-height: $headings-line-height;
  letter-spacing: $headings-letter-spacing;
  font-weight: $headings-font-weight;
}

@mixin font-h4 {
  @include theme() { color: theme-get('font-color-primary'); }
  font-size: $h4-font-size;
  line-height: $headings-line-height;
  letter-spacing: $headings-letter-spacing;
  font-weight: $font-weight-normal;;
  text-transform: uppercase;
}

@mixin font-h5 {
  @include theme() { color: theme-get('font-color-primary'); }
  font-size: $h5-font-size;
  line-height: $headings-line-height;
  letter-spacing: $headings-letter-spacing;
  font-weight: $font-weight-normal;
}

@mixin font-h6 {
  @include theme() { color: theme-get('font-color-primary'); }
  font-size: $h6-font-size;
  line-height: $headings-line-height;
  letter-spacing: $headings-letter-spacing;
  font-weight: $font-weight-normal;
}


@mixin font-navigation {
  @include theme() { color: theme-get('font-color-primary'); }
  font-size: calc(0.9 * #{$font-size-base});
  line-height: 1.75;
  letter-spacing: 1px;
  font-weight: $font-weight-bolder;
  text-transform: uppercase;
  &:hover {
    @include theme() { color: theme-get('link-primary-hover'); }
  }
}

@mixin font-subnavigation {
  @include font-navigation;
  font-weight: $font-weight-normal;
}

@mixin font-paragraph {
  @include theme() { color: theme-get('font-color-primary'); }
  font-size: $font-size-base;
  line-height: 1.75;
  letter-spacing: 0;
  font-weight: $font-weight-normal;
  text-transform: initial;
}

@mixin font-input-filled {
  @include font-paragraph();
  line-height: 1.2;
  font-weight: $font-weight-bold;
}

@mixin link-primary {
  position: relative;
  @include theme() { color: theme-get('link-primary-important'); }
  font-weight: $font-weight-bold;
  border-bottom: 2px solid;
  @include theme() { border-bottom-color: theme-get('link-primary'); }
  
  &:focus {
    @include theme() { color: theme-get('link-primary-important'); }
  }
  
  &:hover {
    @include theme() { color: theme-get('link-primary-hover-important'); }
    @include theme() { border-bottom-color: theme-get('link-primary-hover'); }
  }
}

@mixin font-interactive-element() {
  font-size: calc(0.9 * #{$font-size-base});
  line-height: 1.25;
  letter-spacing: 1px;
  font-weight: $font-weight-bolder;
  text-transform: uppercase;
}

h1, .h1, h4, .h4 {
  text-transform: uppercase;
}

h4, .h4, h5, .h5, h6, .h6 {
  font-weight: $font-weight-normal;
}

p {
  a:not(.btn) {
    @include link-primary;
  }
}
