.widget-image-box {
    @include theme() { background-color: theme-get('gray-100'); }
    overflow: hidden;
    
    @include media-breakpoint-only(xs) {
        min-height: 10rem;
        padding-bottom: 0;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        max-height: 100%;
        transform: translate(-50%, -50%);
        transition: transform 0.4s cubic-bezier(0, 0, 0.26, 1);

        &.img-cover { // stylelint-disable selector-no-qualifying-type
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            font-family: 'object-fit: cover;'; // IE polyfill
        }
    }

    > .widget-inner {
        display: flex;
        padding: $grid-gutter-width;

        .widget-caption {
            padding: map-get($spacers, 2) map-get($spacers, 3);
            word-break: break-word;
            @include transition(300ms all ease);

            &.widget-image-box-caption {
                h1,
                h2,
                h3,
                p {
                    margin: 0;
                    text-transform: uppercase;
                    font-weight: $font-weight-bolder;
                }
            }
        }
    }

    &.widget-image-box-fullwidth {
        > .widget-inner {
            .widget-caption {
                display: flex;
                align-items: center;
                width: 100%;
                text-align: center;

                > div {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    &.widget-image-box-inline-caption {
        > .widget-inner {
            align-items: flex-end;
        }
    }

    &.widget-image-box-block-caption {
        > .widget-inner {
            padding: 0;

            .widget-caption {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                max-height: 100%;
            }
        }
    }

    &.widget-image-box-no-caption {
        > .widget-inner {
            .widget-caption {
                display: none;
            }
        }
    }

    &.widget-retain-aspect-ratio {
        position: relative;

        img {
            position: relative;
            top: auto;
            left: auto;
            transform: none;
            object-fit: initial;
        }

        .widget-inner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    @each $color, $value in $shop-builder-colors {
        &.widget-#{$color} {
            .widget-caption {
                @include widget-color-variant($value);
            }
        }
    }

    &.widget-image-box-block-caption,
    &.widget-image-box-fullwidth {
        @each $color, $value in $shop-builder-colors {
            &.widget-#{$color} {
                .widget-caption {
                    @include widget-color-variant($value, $opacity: 0.5);
                }
            }
        }
    }

    &.mouseover-zoom {
        &:hover, &:focus {
            img {
                transform: scale(1.05);
                
            }
        }
        img {
            top: 0;
            left: 0;
            transform: scale(1.00);
            @include transition(.4s cubic-bezier(0, 0, .26, 1));
        }
    }
}
