.widget-text {
    &.widget {
        margin-bottom: 0;
    }

    .widget-inner {
        padding: 1rem 1.5rem;
    }

    // images from data-fields
    img {
        max-width: 100%;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    &.widget-none {
        h4, h5, h6 {
            @include theme() { color: theme-get('font-color-secondary'); }
        }
    }
}
