.cmp-address-list {
    .items {
        position: relative;

        @include media-breakpoint-up(md) {
            display: inline-block;
            width: 100%;
            vertical-align: middle;
        }

        &:not(.items-empty) {
            cursor: pointer;
        }

        .dropdown-menu {
            width: 100%;
            padding: 0;
            margin: 0;
            border: none;
            border-top: none;
            border-top-left-radius: 0; // stylelint-disable-line property-blacklist
            border-top-right-radius: 0; // stylelint-disable-line property-blacklist

            ul {
                width: 100%;
                max-height: 500px;
                padding: 0;
                margin: 0;
                overflow-y: auto;
                list-style: none;
                box-shadow: $box-shadow;

                .item {
                    position: relative;
                    padding: 0;
                    border-bottom: 1px solid;
                    @include theme() { border-bottom-color: theme-get('gray-400'); }

                    input {
                        display: none;
                        &:checked {

                            & + .item-inner {
                                border: 2px solid $dark;
                            }
                        }
                    }

                    &:last-of-type {
                        border-bottom: none;
                    }

                    .item-remove .btn {
                        @include btn-appearance($color: $transparent, $outline: false);
                    }
                }
            }
        }

        .item-inner {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: map-get($spacers, 2);
            margin-bottom: 0;
            cursor: pointer;

            > div {
                > p {
                    &.pt-3 {
                        padding-top: 0 !important // override utility class
                    }
                }
            }

            @include media-breakpoint-down(xs) {
                display: block;
            }

            .item-content {
                display: inline-block;
                flex: 1 1 auto;
                margin-bottom: map-get($spacers, 1);

                strong,
                span {
                    display: block;
                }
            }

            .item-controls {
                display: flex;

                .btn {
                    i.fa-trash-o {
                        margin: 0;
                    }
                }
            }
        }
    }
}

//TODO add class to this div and set this rule by the class
.widget-account-settings .card,
.cmp-address-list .items > div:first-child {
    @extend .card;
    @include theme() { background-color: theme-get('gray-100'); }
    border: none;
    min-height: 200px;
    margin-bottom: 0;
    padding-right: calc((#{map-get($spacers, 1)} * 2) + #{$input-btn-height});

    @include media-breakpoint-up(sm) {
        padding-right: calc((#{map-get($spacers, 2)} * 2) + #{$input-btn-height});
    }
}

.add-item {
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: end;
    top: map-get($spacers, 1);
    right: map-get($spacers, 1);
    bottom: 0;

    @include media-breakpoint-up(sm) {
        top: map-get($spacers, 2);
        right: map-get($spacers, 2);
    }

    .btn {
        display: inline-flex !important; // overrides display: block utility-class

        &.btn-only-icon-xs-down {
            width: $input-btn-height;

            span {
                display: none; // override utility class
            }
            i {
                margin: 0; // override utility class
            }
        }

        .fa-lock {
            font-size: initial;
        }
    }
}
